<p>promesas works!

    Observables y promesas
    Ambas son para trabajar con procesos asincronos

    Promesas 
    Trabajan con un unico flujo de datos 
    Se usan con una única data asincrona de respuesta
    No es simple de cancelar

    then() se resolvio la promesa y existen dos caminos
    resolve() se resolvio correctamente
    reject() hubo algun error

    Observables
    Trabajan con un continuo flujo de datos 
    Al fallar puedes ejecutar comandos y reintentar continuar con el observer
    Se pueden encadenar operadores adicionales como el map, foreach reduce, filter y mas
    Existen otros operadores como el retry(9) o el replay()
    Pueden ser creados desde otras fuentes, como los eventos
    Son funciones a las cuales podemos suscribirnos en multiples lugares 
</p>
